<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <!--
            Used to specify default source for the push command.
            See: nuget.exe help push
        -->

        <add key="defaultPushSource" value="https://api.nuget.org/v3/index.json"/>
    </config>

    <packageRestore>
        <!-- Allow NuGet to download missing packages -->
        <add key="enabled" value="True"/>

        <!-- Automatically check for missing packages during build in Visual Studio -->
        <add key="automatic" value="True"/>
    </packageRestore>

    <!--
        Used to specify the default Sources for list, install and update.
        See: nuget.exe help list
        See: nuget.exe help install
        See: nuget.exe help update
    -->
    <packageSources>
        <clear/>
        <add key="nuget" value="https://api.nuget.org/v3/index.json"/>
    </packageSources>

    <!-- Used to store credentials -->
    <packageSourceCredentials/>

    <!-- Used to disable package sources  -->
    <disabledPackageSources/>

    <!--
        Used to specify default API key associated with sources.
        See: nuget.exe help setApiKey
        See: nuget.exe help push
        See: nuget.exe help mirror
    -->
    <apikeys>
    </apikeys>

    <!--
        Used to specify trusted signers to allow during signature verification.
        See: nuget.exe help trusted-signers
    -->
    <!-- <trustedSigners> -->
    <!--     <author name="microsoft"> -->
    <!--         <certificate fingerprint="3F9001EA83C560D712C24CF213C3D312CB3BFF51EE89435D3430BD06B5D0EECE" hashAlgorithm="SHA256" allowUntrustedRoot="true" /> -->
    <!--         <certificate fingerprint="AA12DA22A49BCE7D5C1AE64CC1F3D892F150DA76140F210ABD2CBFFCA2C18A27" hashAlgorithm="SHA256" allowUntrustedRoot="true" /> -->
    <!--     </author> -->
    <!--     <repository name="nuget.org" serviceIndex="https://api.nuget.org/v3/index.json"> -->
    <!--         <certificate fingerprint="0E5F38F57DC1BCC806D8494F4F90FBCEDD988B46760709CBEEC6F4219AA6157D" hashAlgorithm="SHA256" allowUntrustedRoot="true" /> -->
    <!--         <certificate fingerprint="5A2901D6ADA3D18260B9C6DFE2133C95D74B9EEF6AE0E5DC334C8454D1477DF4" hashAlgorithm="SHA256" allowUntrustedRoot="true" /> -->
    <!--         <owners>microsoft;aspnet;nuget</owners> -->
    <!--     </repository> -->
    <!-- </trustedSigners> -->
</configuration>